.logoImg {
    width: 100%;
}
.leftSidePart{
    position: fixed;
}
.logoPart {
    width: 100px;
    height: 30px;
    margin-left: 25px;
}

.navLinkPart {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.navLink {
    display: flex;
    border-radius: 5px;
    height: 45x;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: #ededed;
    }
    margin-bottom: 5px;
}

.navName {
    font-weight: 400;
}
.profileImg{
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;

}
.bellowPart{
    margin-top: 190px;

}